/* Navigation.module.css */

.nav {
  background-color: #ffc107;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
}

.ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.li {
  margin: 0 15px;
}

.li :hover{
  color: #01000c;
  transition: color 0.3s ease;
}

.link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}
